html, body
{
    height: 100%;
    width: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #181818;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: #FFF;
}


h1, h2, h3
{
    margin: 0;
    padding: 0;
}

p, ol, ul
{
    margin-top: 0;
}

ol, ul
{
    padding: 0;
    list-style: none;
}

p
{
    line-height: 180%;
}

strong
{
}

a
{
    color: #ee0000;
}

a:hover
{
    text-decoration: none;
}

.container
{
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

input.remove{
    border: none;
    background: none;
    color: black;
    float: right;
    padding: 2px 7px;
    margin: 0 10px 0 0;
    /*clear: both;*/
}
input.remove:hover{
    /*    background-color: red;
        color: white;*/
    background-color: #d9d9d7;
/*    opacity: 0.5;*/
    border-radius: 50px;

}
.button
{
    display: inline-block;
    padding: 1em 2em 1em 2em;
    letter-spacing: 0.10em;
    margin-top: 2em;
    padding: 1.40em 3em;
    background: #2651a8;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: #FFF;
}

.button-alt
{
    padding: 3px 12px;
    margin-left: 5px;
    border-color: rgba(0,0,0,.8);
    color: #FFF;
}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

form{
    display: inline-block;
    width: 275px;
    margin: 0 10px 0 10px;
}

.inputField{
    margin-bottom: 10px;
}

.result{
    /*border: 10px solid black;*/
    animation: res 1s 0s forwards;
    opacity: 0;
}
@keyframes res {
    from {opacity:0}
    to {opacity:1}
}

.goodresult{
    color: white;
    font-size: 20px;
    border-radius: 0 0 20px 20px;
    background-color: green;
}
.badresult{
    color: black;
    font-size: 20px;
    border-radius: 0 0 20px 20px;
    background-color: #ffcc00;
}

fieldset{
    padding: 0px 0px 15px 0;
    margin:0px;
    border-radius: 25px 25px 0 0;
} 
legend{
    padding: 0;
    margin-left: 30px;
    font-weight: bold;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
    margin-bottom: 3em;
}

.title h2
{
    font-size: 2.7em;
}

.title .byline
{
    font-size: 1.3em;
    /*text-shadow: 1px 0px #a3a375;*/
    color: rgba(255,255,255,0.60);
}
.animatable {
    position: relative;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: 2.75s cubic-bezier(1,-0.01,.12,.8) 2s 1 reveal forwards;
}
.animatable::after {
    content: '< 3';
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #20262b;
    padding: inherit; 
    animation: 1.75s cubic-bezier(1,-0.01,.12,.8) 3.5s 1 hideBlack forwards;
}

@keyframes reveal {
    from { clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }
    to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes hideBlack {
    from { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    to { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#wrapper
{
    position: relative;
    padding: 5em 0em 6em 0em;
    background: #FFF;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
    position: relative;
    padding: 2em 0em 7em 0em;
    background: #111111 url(images/test_final.jpg) no-repeat center;
    background-size: cover;
    animation: header-wrapper 3s forwards;
}
@keyframes header-wrapper {
    from {opacity:0}
    to {opacity:1}
}

#header
{
    position: relative;

    padding: 5em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
    position: absolute;
    top: 3.6em;
    left: 0;
}

#logo h1
{
    font-size: 2.6em;
    color: #79C255;
    animation: logoAni 1.5s 1.5s forwards;
    opacity: 0;
}
@keyframes logoAni {
    from {opacity:0}
    to {opacity:1}
}
.welcome-message{
    /*    animation-name: header;
        animation-duration: 2.5s;*/
    animation: header 1s 2s forwards;
    opacity: 0;
    transform: translate3d(0,0,0);
}
@keyframes header {
    0% {
        /*			-moz-transform: translate3d(0,1em,0);
                                -webkit-transform: translate3d(0,1em,0);
                                -ms-transform: translate3d(0,1em,0);*/
        transform: translate3d(0,1em,0);
        opacity: 0;
    }

    100% {
        /*			-moz-transform: translate3d(0,0,0);
                                -webkit-transform: translate3d(0,0,0);
                                -ms-transform: translate3d(0,0,0);*/
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

#logo a
{
    text-decoration: none;
    color: rgba(255,255,255,1);
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
    padding-top: 10em;
    text-align: center;
}

#banner .title h2
{
    font-size: 4em;
}

#banner .title .byline
{
    font-size: 2em;
}

#banner .button
{
    margin-top: 2em;
    padding: 1.40em 3em;
    border-radius: 6px;
    font-weight: 700;
    font-size: 1em;

}

.banner
{
    margin-bottom: 5em;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(0,0,0,0.08);
}

#copyright p
{
    text-align: center;
    font-size: 1em;
    color: rgba(255,255,255,0.3);
}

#copyright a
{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
    position: relative;
    padding: 7em 0em 7em 0em;
    background: #2651a8;
    background-size: cover;
    text-align: center;
}

#welcome .container
{
    width: 1000px;
    padding: 0px 100px;
    color: rgba(255,255,255,0.8);
}

#welcome a
{
    color: rgba(255,255,255,1);
}

#welcome .button
{
    background: #FFF;
    color: #2651a8;
}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

.three-column
{
    text-align: center;
    color: rgba(0,0,0,0.6);
}

.three-column .fa
{
    display: block;
    padding: 1em 0em;
    color: rgba(0,0,0,1);
    font-size: 2em;
}

.three-column .title h2
{
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}

.three-column .title .byline
{
    text-align: center;
    color: rgba(0,0,0,.5);
}